*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background-color: rgb(114, 8, 212);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.todo-list{
  background-color: rgb(14, 14, 68);
  width:500px;
  padding:30px;
  text-align: center;
}
.todo-list h1{
  color:#fff;
  text-transform: capitalize;
  margin-bottom: 40px;

} 
form{
  display: flex;
  align-items: center;
}
.form input{
  padding: 10px 20px;
  font-size: 18px;
  background-color: transparent;
  border:1px solid rgb(114, 8, 212);
  color:#fff;
  text-transform: capitalize;
  width:75%;
  outline: NONE;
}
.btn-add{
  padding: 12px 15px;
  background-color:rgb(114, 8, 212); 
  color:#fff;
  border:none;
  font-size: 18px;
}

.list{
  margin-top: 30px;
}
.todo{
  background-color:rgb(114, 8, 212); 
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}
.todo p{
color:#fff;
font-weight:500;
font-size: 17px;
}
.todo .btns{
  margin-left: auto;

}
 .btn-icon{

  background-color: transparent;
  border:0;
  color: #fff;
  margin-left: 5px;
  font-size: 20px;
  cursor: pointer;
}

.complete{
  color:green !important ;
}

.decomplete{
  color: red !important; ;
}